<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="static/css/custom.css">

    </head>

    <body>
        <div id="main">
            <form action="/result1" method="post">
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="age">Age:</label>
                <input type="text" id="age" name="age"><br><br>
                <input type="submit" value="Submit">
            </form>
            <button id="DonleysButton">Do Something Here.</button>
        </div>
        <script src="https://d3js.org/d3.v6.js"></script>
        <script src="/static/js/script.js"></script>


        <div id="kirk">
            <label for="value1">State the windspeed velocity of an unladen swallow:</label>
            <input type="text" id="value1" name="value1">
            <br>
            <label for="value2">Name a second value:</label>
            <input type="text" id="value2" name="value2">
            <button id="KirksButton">Do it. I dare you.</button>
        </div>

        <script src="https://d3js.org/d3.v6.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>
